# this idsrv instance supports resource-owner flow
IdSrvUserName=th
IdSrvPassword=th
IdSrvSubject=1
IdSrvApiScopeName=api
IdSrvClientId=ro
IdSrvClientSecret=secret
ApplicationInsights__InstrumentationKey=string